<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6ea0">  <td>21/09/28 11:19:52</td>   <td>0</td> <td title="&gt;&gt;MainRunner.connection_initiate()[pri:0, instance:com.test.MainTest@45d2ade3]">&gt;&gt;connection_initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@807328355</td>   <td></td> </tr>
<tr bgcolor="8668a2">  <td>21/09/28 11:19:58</td>   <td>6023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.orangehrm_login_adduser_test()[pri:0, instance:com.test.MainTest@45d2ade3]">orangehrm_login_adduser_test</td> 
  <td>main@807328355</td>   <td></td> </tr>
<tr bgcolor="9c6ea0">  <td>21/09/28 11:20:37</td>   <td>45775</td> <td title="&lt;&lt;MainRunner.connection_terminate()[pri:0, instance:com.test.MainTest@45d2ade3]">&lt;&lt;connection_terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@807328355</td>   <td></td> </tr>
</table>
