<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Orange HRM Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d572c1">  <td>21/09/27 09:27:18</td>   <td>0</td> <td title="&gt;&gt;MainRunner.connection_initiate()[pri:0, instance:com.test.MainTest@7d8704ef]">&gt;&gt;connection_initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1462044018</td>   <td></td> </tr>
<tr bgcolor="70d194">  <td>21/09/27 09:27:24</td>   <td>5853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.orangehrm_login_adduser_test()[pri:0, instance:com.test.MainTest@7d8704ef]">orangehrm_login_adduser_test</td> 
  <td>TestNG-tests-1@658368916</td>   <td></td> </tr>
<tr bgcolor="d572c1">  <td>21/09/27 09:27:46</td>   <td>28042</td> <td title="&lt;&lt;MainRunner.connection_terminate()[pri:0, instance:com.test.MainTest@7d8704ef]">&lt;&lt;connection_terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1462044018</td>   <td></td> </tr>
</table>
